.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 90px;
    margin-top: 20px;
}

.feedCount{
    background-color: rgb(34, 133, 190);
    color: white;
    font-weight: 800;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    margin-right: 10px;
}

.feedCountInput{
    border-radius: 8px;
    border: 2px solid lightgrey;
}